@import url('https://fonts.googleapis.com/css2?family=Concert+One&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #f3f1f1;
    font-family: Arial, Helvetica, sans-serif;
}

.header{
    font-size: 20px;
    padding: 20px;
    background-color: #55cfcf;
    width: 100%;
}

.titulo{
    font-size: 30px;
    font-family: 'Concert One', cursive;
}

.a{
    text-decoration: none;
    color: black;
}

.a:hover{
    color:#ffffffd8;
}

.margin{
    margin: 20px;
}

.img{
    width: 30%;
    height: 30%;
}

.card-text > a{
    text-decoration: none;
    color: black;
}

.card-text > a:hover{
    text-decoration: underline;
    color: red;
}

.form{
  width: 80%; 
  flex-wrap: wrap;
  margin:30px auto 0; 
  display:flex; 
  background:#FFF;
  padding:10px 50px 50px;
}

.form > input,textarea{
    flex-wrap: wrap;
    font-size:18px;
    padding:10px 10px 10px 5px;
    margin: 10px 10px 10px 5px;
    display:flex;
    width:100%;
    border:none;
    border-bottom:1px solid #757575;
}

.form > button{
  background-color: #222;
  border-radius: 4px;
  border-style: none;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: "Farfetch Basis","Helvetica Neue",Arial,sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.5;
  margin: 0;
  max-width: none;
  min-height: 44px;
  min-width: 10px;
  outline: none;
  overflow: hidden;
  padding: 9px 20px 8px;
  position: relative;
  text-align: center;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100%;
}

.form > button:hover,
.form > button:focus {
  opacity: .75;
}

textarea{
    height: 150px;
}